<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <header>
      <!-- NAVBAR -->
      <nav class="navBar">
        <div class="logoContainer">
          <h1 id="logo">Tapioca Loca!</h1>
        </div>

        <div class="navButtonsContainer">
          <a href="/login">Login</a>
          <a href="/register">Register </a>
          <a href="/cart">Cart</a>
        </div>
      </nav>

      <!-- BANNER -->
      <div class="bannerContainer">
        <p>This is a banner</p>

      </div>

    </header>
    <main>
      <div class="mainContainer">
        <!-- MENU -->
        <table class="menuContainer">
          <tr>
            <th>Item</th><th>Price</th>
          </tr>
          <tr id="item1">
            <td class="itemName">Green Bubble Tea</td><td class="itemPrice">$6.50</td><td><button class="addItem" type="submit"> ADD TO CART </button></td>
          </tr>
          <tr id="item2">
            <td class="itemName">Orange Bubble Tea</td><td class="itemPrice">$6.50</td><td><button class="addItem" type="submit" > ADD TO CART </button></td>
          </tr>
          <tr id="item3">
            <td class="itemName">Red Bubble Tea</td><td class="itemPrice">$6.50</td><td><button class="addItem" type="submit" > ADD TO CART </button></td>
          </tr>
          <tr id="item4">
            <td class="itemName">Black Bubble Tea</td><td class="itemPrice">$6.50</td><td><button class="addItem" type="submit" > ADD TO CART </button></td>
          </tr>
          <tr id="item5">
            <td class="itemName">Blue Bubble Tea</td><td class="itemPrice">$6.50</td><td><button class="addItem" type="submit" > ADD TO CART </button></td>
          </tr>
        </table>
        <!-- CART -->
        <!-- <table class="cartContainer">
          <tbody class="cart"> -->
            <div class="cartItemsContainer" id="cartItemsContainer">

              <!-- <tr>
                <td><%=locals[3].name%></td><td><%=locals[3].price_cents%></td><td><button class="removeItem" type="submit" > REMOVE </button></td>
              </tr> -->

              <tr class="purchaseButtonContainer"><td><button class="purchaseButton" type="submit" > PURCHASE</button></td></tr>
            </div>
          <!-- </tbody>
        </table> -->

      </div>

      <footer>

        <div class="mapContainer">
          <h5>MAP</h5>
        </div>
        <div class="mapContainer">
          <ul>
            <li>Address: 345 Chesnut Drive</li>
            <li>Phone: 604-BUBBLE-T</li>
            <li>Email: ela@tapioca_loca.ca</li>
          </ul>
        </div>

      </footer>
    </main>
  </body>
</html>
