<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <header>
      <!-- NAVBAR -->
      <nav class="navBar">
        <div class="logoContainer">
          <h1 id="logo">Tapioca Loca!</h1>

        </div>

        <div class="navButtonsContainer">
          <a href="/login">Login</a>
          <a href="/register">Register </a>
          <a href="/cart">Cart</a>
        </div>
      </nav>

      <!-- BANNER -->
      <div class="bannerContainer">
        <p>This is a banner</p>
        <img src="/logos/logo.png" alt="logo 1.png">

      </div>

    </header>
    <main>
      <div class="mainContainer">
        <!-- MENU -->
        <table class="menuContainer">
          <tr>
            <th>Item</th><th>Price</th>
          </tr>
          <%if (items && items.length > 0){%>
          <%for(let item of items) {%><tr>
            <td class="itemName"><%=item.name%></td><td class="itemPrice"><%=item.price_cents%></td><td><button class="addItem" type="submit" data-itemid="<%=item.id%>"> ADD TO CART </button></td>
          </tr>
          <%}%>
          <%}%>


        </table>
        <!-- CART -->
        <!-- <table class="cartContainer">
          <tbody class="cart"> -->
            <div class="cartItemsContainer" id="cartItemsContainer">

                <div id="cartButtons">
                  <tr class="clearCartButtonContainer"><td><button class="clearCartButton" type="submit" > Clear Cart</button></td></tr>
                  <tr class="purchaseButtonContainer"><td><button class="purchaseButton" type="submit" > PURCHASE</button></td></tr>
                </div>

            </div>
          <!-- </tbody>
        </table> -->

      </div>

      <footer>

        <div class="mapContainer">
          <h5>MAP</h5>
        </div>
        <div class="mapContainer">
          <ul>
            <li>Address: 345 Chesnut Drive</li>
            <li>Phone: 604-BUBBLE-T</li>
            <li>Email: ela@tapioca_loca.ca</li>
          </ul>
        </div>

      </footer>
    </main>
  </body>
</html>
